# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# package-lock.json file
package-lock.json

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel


package/components/misc/dist/*
package/components/misc/node_modules/*
package/components/misc/yarn-error.log
package/components/misc/yarn.lock


package/components/typography/dist/*
package/components/typography/node_modules/*
package/components/typography/yarn-error.log
package/components/typography/yarn.lock

package/content/dist/*
package/content/node_modules/*
package/content/yarn-error.log
package/content/yarn.lock